//! **************************************************************************
// Written by: Map O.87xd on Tue Oct 15 13:43:32 2024
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

